{% extends 'tienda/base.html' %} {% block content %}

<body>

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="col-md-2">
                <a class="navbar-brand" href="index.html">
                    <img src="img/knob.png" alt="logo" class="d-inline-block align-text-top">
                    <h1>Gear Rent</h1>
                </a>
            </div>

            <div class="col-md-1">
                <a>
                    <button type="button" class="btn btn-dark" onclick="boton()">
                        <img src="img/cat.png" alt="cat">
                    </button>
                </a>
            </div>

            <h3 id="cat_fact" class="col-md-6 text-secondary">
            </h3>

            <div class="col-md-1">
                <a>
                    <button type="button" class="btn btn-secondary rounded-pill px-3" onclick="location.href='carro.html'">
                            <img src="img/cart.png" alt="cart">
                            Carrito
                        </button>
                </a>
            </div>



        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="login.html">Login</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Equipos
                            </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="preamplificadores.html">Preamplificadores</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="compresores.html">Compresores</a></li>
                            <li><a class="dropdown-item" href="ecualizadores.html">Equalizadores</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Microfonos
                            </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item" href="condensadores.html">Condensador</a></li>
                            <li><a class="dropdown-item" href="dinamicos.html">Dinamicos</a></li>
                            <li><a class="dropdown-item" href="tubos.html">Tubos</a></li>
                            <li><a class="dropdown-item" href="cinta.html">Cinta</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="accesorios.html">Accesorios</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="packs.html">Packs</a>
                    </li>

                </ul>

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-secondary rounded-pill px-3" type="submit">Buscar</button>

                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <nav id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/anuncio_1.jpg" class="d-block w-100" alt="anuncio1">
                    <div class="carousel-caption d-none d-md-block">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalProducto1">
                        <h4>El clásico Neumann U87</h4>
                      </button>
                        <p>Graba tus voces con el micrófono estándar del mercado.</p>
                    </div>
                </div>

                <!-- Modal para el producto 1 -->
                <div class="modal fade" id="modalProducto1" tabindex="-1" aria-labelledby="modalProducto1Label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="row g-0">
                                <div class="col-md-4" style="margin-top: 5%;">
                                    <img src="img/condensador_1.jpg" class="img-fluid rounded-start" alt="Neumann_U87">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h2 class="fw-light">Neumann U 87 Ai Micrófono Condensador Multi-Patrón</h2>
                                        <p class="card-text">El Neumann U 87 Ai es probablemente el micrófono de estudio más conocido y utilizado con más frecuencia en todo el mundo. Su sonido suave y refinado es tan icónico como su elegante diseño exterior. El U 87 Ai es
                                            el micrófono estándar para voz y voz. Tres patrones polares más opciones de almohadilla y corte bajo lo hacen adaptable a una amplia gama de aplicaciones.</p>
                                        <p class="card-text">Micrófono de condensador FET de diafragma grande<br/>Transductor de gradiente de presión con cápsula de doble membrana.<br/>El clásico de micrófono de estudio<br/>Tres características direccionales: omni, cardioide,
                                            figura 8<br/>Roll-off de baja frecuencia conmutable<br/>Pre atenuación de 10dB conmutable<br/>Ideal como micrófono principal y de soporte en prácticamente todas las situaciones de grabación.<br/>Requiere + 48
                                            voltios de potencia fantasma</p><br/>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/anuncio_2.jpg" class="d-block w-100" alt="anuncio2">
                    <div class="carousel-caption d-none d-md-block">
                        <button type="button" class="btn btn-primary">
                            <a href="#" style="color: azure; text-decoration:none" >
                                <h4>Klark Teknik, la marca más economica del mercado</h4>                            
                            </a>
                        </button>
                        <p>Con la trayectoria de decadas, Klark Teknik nos trae equipo al alcance de todo bolsillo.</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="img/anuncio_3.jpg" class="d-block w-100" alt="anuncio3">
                    <div class="carousel-caption d-none d-md-block">
                        <button type="button" class="btn btn-primary">
                            <a href="preamplificadores.html" style="color: azure; text-decoration:none" >
                                <h4>Escoge tu sonido más adecuado</h4>
                            </a>
                        </button>
                        <p>Dale color a tus grabaciones con nuestra seleccion de preamplificadores de microfono.</p>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>

        </nav>
    </div>
    {% endblock %}

</body>