 {% extends 'tienda/base.html' %} {% block content1 %}

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Equipos
                            </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'product_list' %}?tipoprod=preamplificador">Preamplificadores</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'product_list' %}?tipoprod=compresor">Compresores</a></li>
                            <li><a class="dropdown-item" href="ecualizadores.html">Equalizadores</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Microfonos
                            </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item" href="condensadores.html">Condensador</a></li>
                            <li><a class="dropdown-item" href="dinamicos.html">Dinamicos</a></li>
                            <li><a class="dropdown-item" href="tubos.html">Tubos</a></li>
                            <li><a class="dropdown-item" href="cinta.html">Cinta</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="accesorios.html">Accesorios</a></li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="packs.html">Packs</a>
                    </li>

                </ul>

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary" type="submit">Buscar</button>

                </form>
            </div>
        </div>
    </nav>

    <main>
        <section class="text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Preamplificadores</h1>
                    <p class="lead text-muted">aqui encontraras todo lo que necesitas</p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    {% block content %} {% endblock %}

                </div>
            </div>
        </div>
    </main>
    {% endblock %}

</body>