{% extends 'tienda/index.html' %} {% load custom_filters %} {% block content %} {% if products %} {% for product in products %} {%load static %}
<div class="col">
    <div class="card shadow-sm">
        <img src="{% static 'img/' %}{{product.imagen}}" class="bd-placeholder-img card-img-top">
        <div class="card-body">
            <h3 class="fw-light">{{product.nombre}}</h3>
            <h4 class="fw-light"><strong>Precio</strong></h4>
            <h4 class="text-danger">{{product.precio|format_currency}}</h4>
            <h4 class="fw-light"><strong>Oferta</strong></h4>
            {% if product.oferta == 0 %}
            <h4 class="text-danger">Sin oferta</h4>
            {% else %}
            <h4 class="text-danger">{{product.oferta|format_currency}}</h4>
            {% endif %}
            <p class="card-text">{{product.descripcion}}</p>
            <p class="card-text2">{{product.tipoprod}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='carro.html'">Agregar</button>
                </div>
                <small class="text-muted ">{{product.stock}}</small>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% else %}
<div class="col">
    <div class="card shadow-sm">
        <img src="{% static 'img/sin_stock.jpg'%}" class="bd-placeholder-img card-img-top">
        <div class="card-body">
            <h3 class="fw-light">No hay nada por el momento</h3>
            <h4 class="text-danger"></h4>
            <p class="card-text">Pronto tendremos disponible más equipos para sus trabajos</p>
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">...</small>
            </div>
        </div>
    </div>
</div>
{% endif %}{% endblock %}