{% extends 'tienda/preamplificadores.html' %} {% block content %} {% for product in products %} {%load static %}

<body>

    <div class="col">
        <div class="card shadow-sm">
            <img src="{{product.imagen}}" class="bd-placeholder-img card-img-top">
            <div class="card-body">
                <h3 class="fw-light">{{product.nombre}}</h3>
                <h4 class="text-danger">{{product.precio}}</h4>
                <p class="card-text">{{product.descripcion}}</p>
                prueba: {{product.imagen}}
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='carro.html'">Agregar</button>
                    </div>
                    <small class="text-muted ">{{product.stock}}</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %} {% endblock %}
</body>