<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GearRent_privacidad</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="col-md-11">
                <a class="navbar-brand" href="index.html">
                    <img src="img/knob.png" alt="logo" class="d-inline-block align-text-top">
                    <h1>Gear Rent</h1>
                </a>
            </div>

            <div class="col-md-1">
                <a>
                    <button type="button" class="btn btn-primary" onclick="location.href='carro.html'">
                            <img src="img/cart.png" alt="cart">
                            Carrito
                        </button>
                </a>
            </div>

        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Equipos
                            </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="preamplificadores.html">Preamplificadores</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="compresores.html">Compresores</a></li>
                            <li><a class="dropdown-item" href="ecualizadores.html">Equalizadores</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Microfonos
                            </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item" href="condensadores.html">Condensador</a></li>
                            <li><a class="dropdown-item" href="dinamicos.html">Dinamicos</a></li>
                            <li><a class="dropdown-item" href="tubos.html">Tubos</a></li>
                            <li><a class="dropdown-item" href="cinta.html">Cinta</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="accesorios.html">Accesorios</a></li>
                        </ul>
                    </li>

                    
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="packs.html">Packs</a>
                    </li>

                </ul>

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary" type="submit">Buscar</button>

                </form>
            </div>
        </div>
    </nav>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
        <main class="px-3">
            <h1>Política de Privacidad</h1>
            <p class="lead">La política de privacidad de un sitio web contiene las normas acerca de cómo se recogen y gestionan los datos personales de las personas que acceden y hacen uso de una página o sitio web (usuarias), así como acerca de las cookies utilizadas
                por el mismo. Este documento, en lo que no contraviene la legislación chilena, está adaptado al Reglamento Europeo de Protección de Datos (RGPD). Se consideran datos personales los relativos a cualquier información concerniente a personas
                naturales, identificadas o identificables. Se consideran cookies los archivos que contienen una pequeña cantidad de información recolectada por un sitio web determinado respecto de las personas usuarias, y que es almacenada en el navegador
                utilizado por cada usuaria, quedando disponible para ser consultado por el sitio web cuando la usuaria acceda a él. Este documento contiene las menciones o referencias legales que servirán para regular las condiciones en las que el sitio
                o página web recoge, gestiona y retiene ("trata") los datos personales de las personas usuarias que acceden, navegan y utilizan el sitio o página web. Este documento también describe los derechos de las personas usuarias (ej. a saber si
                el sitio web está tratando sus datos, derecho a que sus datos sean corregidos o eliminados, cuando corresponda) y las obligaciones del sitio web en relación con el tratamiento de sus datos personales. Para el caso en que se desee elaborar
                un documento que contenga todas las normas que regulan la interacción de las personas usuarias con el contenido que la misma página web pone a disposición, con los productos y/o servicios ofrecidos en ella, y con la identificación de las
                personas responsables del sitio, se encuentra disponible y mejor adaptado a dicha circunstancia el modelo de términos y condiciones general de uso. De todas maneras, las políticas de privacidad de un sitio web forman parte de sus términos
                y condiciones generales de uso, por lo cual en ambos modelos, términos y condiciones y política de privacidad, se hace referencia al otro, de modo que las personas usuarias puedan acceder y conocer la totalidad de normas que les afectan
                al hacer uso de un sitio web determinado.</p>
            <br>
            <h2>Normativa aplicable</h2>
            <p class="lead">Estas políticas de privacidad han sido elaboradas y se rigen por el ordenamiento jurídico chileno vigente, especialmente por el artículo 19 N° 4 de la Constitución Política y por la Ley de Protección de Datos Personales. También se han tenido
                en consideración las normas del Reglamento de Protección de Datos de la Unión Europea.</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Aprender más</a>
            </p>
        </main>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017–2023 Geif Limitada</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="privacidad.html">Privacidad</a></li>
            <li class="list-inline-item"><a href="terminos.html">Términos</a></li>
            <li class="list-inline-item"><a href="soporte.html">Soporte</a></li>
        </ul>
    </footer>

</body>

</html>