<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GearRent_terminos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="col-md-11">
                <a class="navbar-brand" href="index.html">
                    <img src="img/knob.png" alt="logo" class="d-inline-block align-text-top">
                    <h1>Gear Rent</h1>
                </a>
            </div>

            <div class="col-md-1">
                <a>
                    <button type="button" class="btn btn-primary" onclick="location.href='carro.html'">
                            <img src="img/cart.png" alt="cart">
                            Carrito
                        </button>
                </a>
            </div>

        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Equipos
                            </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="preamplificadores.html">Preamplificadores</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="compresores.html">Compresores</a></li>
                            <li><a class="dropdown-item" href="ecualizadores.html">Equalizadores</a></li>
                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Microfonos
                            </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item" href="condensadores.html">Condensador</a></li>
                            <li><a class="dropdown-item" href="dinamicos.html">Dinamicos</a></li>
                            <li><a class="dropdown-item" href="tubos.html">Tubos</a></li>
                            <li><a class="dropdown-item" href="cinta.html">Cinta</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="accesorios.html">Accesorios</a></li>
                        </ul>
                    </li>

                    
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="packs.html">Packs</a>
                    </li>

                </ul>

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary" type="submit">Buscar</button>

                </form>
            </div>
        </div>
    </nav>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
        <main class="px-3">
            <h1>Termino y condiciones</h1>
            <h2>1.- CONDICIONES GENERALES</h2>
            <p class="lead">

                Los equipos y accesorios, se entregan en perfecto estado de funcionamiento y están a la vista para ser evaluados en sus condiciones de uso y operabilidad.- Cualquier desperfecto, falla parcial o total, daño físico parcial o total y /o perdida de alguno
                o todos los componentes de los equipos o accesorios Arrendados; se dará curso a la retención del documento de Garantía, hasta establecer el valor del daño y el costo de su reparación o restitución parcial o total de los mismos.- Se devolverá
                el documento en Garantía previo pago del costo total de la reparación o reposición de una parte o el total, según corresponda del o los equipos y accesorios Arrendados.- La responsabilidad de los costos de reposición y/o reparación de
                parte o el total de los equipos y accesorios Arrendados , es asumida totalmente por la Empresa Arrendadora y/o su Representante Legal, independientemente sea cuál fuera la causal del daño y/o pérdida parcial y/o total, sea esta atribuida
                a personas que están o no , directa o indirectamente relacionadas con la Empresa y/o persona responsable de los equipos y/o Representante Legal de la Empresa , o este ligada a hechos fortuitos accidentales o de causa mayor con la persona
                natural o jurídica de la Empresa que Arrienda los equipos.- El pago del Arriendo de los equipos y accesorios es al contado al momento de efectuar el retiro de los mismos.- Cualquier disputa o desacuerdo en los términos pactados serán llevados
                al arbitraje Legal correspondiente.-
            </p>
            <h3>2.- VALORES</h3>
            <p class="lead">


                a.- Todos los valores estipulados para cada artículo Arrendado incluyen IVA. Estos valores son cancelados al contado al momento de retirar los equipos; este pago puede ser en efectivo o en un cheque de la Empresa solicitante; el cuál deberá ser al día,
                nominativo y cruzado a nombre de GEIF LIMITADA. Además, puede ser depositado electrónicamente en la Cuenta Corriente del Banco :</p>
            Scotiabank, Cta.Cte. 12-34567 – 89, GEIF LIMITADA., Rut 98.765.432-1.-</p>

            <p class="lead"> b.- Los valores de lista corresponden a un Arriendo de una Jornada, equivalente a 24 hrs., considerando 4 horas adicionales para el retiro y entrega de los equipos. Pasado este periodo de tiempo de 28 hrs. se considera un recargo de un 10
                % del valor de lista del total de los equipos y accesorios arrendados por cada 1 hora de atraso, con un máximo 8 hrs., período en el cuál se considerará una Jornada adicional con el recargo de un 100 % de todos los valores correspondientes
                al Arriendo.</p>

            <p class="lead"> c.- Los arriendos de más de 3 días continuos, tienen un 20 % de descuento y por más de 7 días continuos de Arriendo tienen un 40 % de descuento del valor de lista, por día de Arriendo de todos los equipos y accesorios.</p>


            <h4>3.- ORDEN DE COMPRA</h4>
            <p class="lead">

                a.- Se debe emitir una Orden de Compra a nombre de GEIF LIMITADA. RUT 98.765.432-1 por el valor total de todos los items solicitados para arriendo, individualizando los equipos y accesorios arrendados y por el período de tiempo en que se utilizarán.</p>

            <p class="lead"> b.- Estos datos deben ser enviados por e- mail soportecentralgeif@gearrent.com.mediante el formulario adjunto en nuestra página Web. Estos datos deben contener todos los campos solicitados de la Empresa solicitante y el Representante Legal,
                quién deberá firmar este documento.-</p>

            <p class="lead"> Se debe adjuntar el Nombre y Rut de la persona responsable y/o quién retira y entrega los equipos.-</p>


            </p>
            <h4>4.- GARANTÍA</h4>
            <p class="lead">

                a.- Al momento de retirar los equipos se debe dejar un Cheque en Garantía por un monto establecido previamente, de acuerdo al valor de los equipos Arrendados. Este documento debe ser de la Empresa o Cliente directo y se extiende al día, nominativo y cruzado
                a nombre de GEIF LIMITADA.</p>

            <p class="lead"> En este documento emitido por Empresa, su Representante Legal o Cliente directo, debe consignar en el reverso el nombre y RUT de o la(s) persona(s) titular(es) de la Cuenta Corriente que firma el cheque, número de teléfono fijo directo y celular.</p>

            <p class="lead"> Este documento será consultado a DICOM / EQUIFAX, quién autentifica la validez del documento, para poder darnos garantía de viabilidad del documento entregado.</p>
            <p class="lead"> En la eventualidad que el cheque sea rechazado por la DICOM / EQUIFAX (esto puede ocurrir por diferentes motivos relacionados con el historial de la Cuenta Corriente), GEIF LIMITADA, se reserva el derecho de cancelar la Orden de Arriendo.</p>

            <p class="lead"> b.- Este documento será entregado al momento de efectuar la devolución de el total de los equipos y/o accesorios Arrendados de acuerdo a la Guía de Arriendo y en perfectas condiciones físicas y de operabilidad dentro de los plazos establecidos
                por el Contrato de Arriendo.-</p>

            <p class="lead"> c.- La Factura correspondiente o Boleta de Venta, será emitida y entregada una vez que los equipos sean devueltos en perfectas condiciones físicas y de operabilidad.</p>

            <h4>5.- OBLIGACIONES DEL ARRENDADOR</h4>
            <p class="lead">

                a.- El Arrendador, sea una Empresa, Cliente directo y/o persona(s) designada(s) autorizada(s) para el retiro de los equipos, de aquí en adelante denominado «Arrendador», debe verificar las condiciones físicas y de operabilidad de todos los equipos que
                se entregan en Arriendo así como la cantidad y el número de serie (cuando corresponda), de los equipos y artículos entregados. Una vez retirados los equipos y aceptando su conformidad, no se aceptarán reclamos posteriores.</p>

            <p class="lead"> b.- El Arrendador, debe tomar las precauciones correspondientes para el transporte, armado y uso de cada uno de los equipos y accesorios y debe observar siempre el cuidado en el correcto ensamblaje de partes, piezas y el manejo apropiado y
                correcto en el uso de todos los equipos y accesorios entregados en Arriendo de tal modo de conservar su funcionamiento e integridad física completa de todas sus partes y piezas.</p>

            <p class="lead"> c.- Los equipos, accesorios, partes y piezas entregadas en Arriendo, mientras estén en poder del Arrendador son de su exclusiva responsabilidad. Cualquier daño físico y/o de operabilidad, sean hechos por causas directas o indirectas, fortuitas
                o de fuerza mayor, causadas con o sin intencionalidad por personas pertenecientes a la empresa arrendadora o externos a ella o terceros vinculados o no con la empresa; son de exclusiva responsabilidad de el Arrendador, Cliente, Empresa
                y/o persona designada para tal efecto.</p>

            <p class="lead"> d.- Por lo tanto, en caso de ocurrir daños físicos o de operabilidad de los equipos, accesorios y de las parte y/o piezas que los componen, se realizará un chequeo y previo y se emitirá un informe técnico en que se determinará la reparación
                y/o reemplazo de las partes y piezas dañadas o la reposición total de los equipos y accesorios involucrados. En este caso se retendrá la garantía entregada por el Arrendador, hasta haber reintegrado el equipo a su funcionamiento normal.
                Luego, se procederá a los cobros correspondientes de la garantía o en forma separada de acuerdo común con el Arrendador.</p>

            <p class="lead">e.- En caso de pérdida total o destrucción de más de un 50 % de los equipos y/o accesorios, partes y piezas, o en los que no sea posible ningún tipo de reparación o los costos de la misma superen el valor del equipo o accesorio, se descontará
                su valor total de reemplazo del Cheque de Garantía, previa comunicación al Arrendador.</p>

            <p class="lead">f.- Los elementos fungibles, como ampolletas, tubos de flash, fusibles, Led, que estando en poder del arrendador dejen de funcionar por término de su vida útil; la responsabilidad del Arrendador queda limitada al 50 % del valor de reemplazo
                de la unidad afectada. En caso de rotura de estos elementos, cualquiera sea la causa (ver letra c), la responsabilidad sobre estos elementos del Arrendador es de un 100 % del valor de reemplazo del elemento dañado.-</p>

            <p class="lead">g.- El Arrendador deberá llenar la Ficha Arriendo, en cada oportunidad que requiera el Arriendo de uno o más equipos o accesorios.-</p>

            <p class="lead">La firma del Representante Legal de la Empresa o Cliente directo, implica la aceptación de todos los términos de las condiciones del Contrato de Arrendamiento.-</p>


            <p class="lead">Nombre</p>
            <p class="lead">RUT </p>
            <p class="lead">Firma responsable </p>
            <p class="lead">Viña del Mar, de de 2023</p>
        </main>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017–2023 Geif Limitada</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="privacidad.html">Privacidad</a></li>
            <li class="list-inline-item"><a href="terminos.html">Términos</a></li>
            <li class="list-inline-item"><a href="soporte.html">Soporte</a></li>
        </ul>
    </footer>

</body>

</html>